* {
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background: #222;
  color: #353535;
  margin: 0;
  background: #e8cbc0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #636fa4,
    #e8cbc0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #636fa4,
    #b19c94
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  border-right: 0.15em solid rgb(182, 182, 182);
  animation: blink 0.75s step-end infinite;
  width: max-content;
  color: orange;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(177, 177, 177);
  }
}

.place {
  height: 2em;
  width: 5em;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10dvh;
  padding: 0 30px;
  max-width: 100%;
}

nav p {
  color: rgb(255, 166, 0);
  font-size: 1.5em;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90dvh;
  font-size: 30px;
}

.choose-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  background-color: #141414;
  height: 20em;
  width: 100%;
  overflow: hidden;
  color: aliceblue;
}

.choose-text,
.choose-qualities {
  width: 100%;
  text-align: center;
}

.choose-qualities {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

.demos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.demos-qualities {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 30px auto 0 auto;
  width: 100%;
}

.demos-list {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  width: 85%;
}

.footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #141414;
  color: #aaa;
}

.footer p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  /* Responsive styles for smaller screens */

  .hero {
    height: 90dvh;
    padding: 20px;
    text-align: center;
  }

  .hero h2,
  .hero-sub p {
    font-size: 24px;
  }

  .choose-us {
    height: auto;
  }

  .choose-qualities {
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 30px;
  }

  .choose3 {
    display: none;
  }

  .demos-list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5px;
  }
}
